<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <link rel="stylesheet" href="src/css/vue-multiselect.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="build/css/style.min.css">

</head>

<body>


<section class="data-filter">

    <div class="container">

        <div id="app-4">


            <div class="input-filters">
                <div class="col">
                    <input type="text" v-model="search" class="search-input" placeholder="Search"/>
                </div>
                <div class="col" v-for="filter in filters">
                    <multiselect
                            v-model="filter.value"
                            :placeholder="filter.placeholder"
                            :options="filter.options"
                            :allow-empty="false"
                            deselect-label=""
                            :show-labels="false"
                            label="name"
                            track-by="name">
                    </multiselect>
                </div>

                <div class="col">
                    <button class="view-all-btn" v-on:click="clearFilters">View all</button>
                </div>
            </div>


            <ul class="alphabet-filter">
                <template v-for="letter in alphabet_filter_arr">
                    <li v-if="filter_letter === letter.letter" class="current">
                        {{ letter.letter }}
                    </li>

                    <li v-else-if="letter.active" v-on:click="setLetter(letter.letter)" class="active">
                        {{ letter.letter }}
                    </li>

                    <li v-else>
                        {{ letter.letter }}
                    </li>
                </template>
            </ul>


            <table class="table filter-results">

                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Office
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Services
                        </th>
                    </tr>
                </thead>
                <paginate
                        name="users"
                        :list="filteredCustomers"
                        :per="5"
                >

                    <tr v-for="user in paginated('users')">
                        <td class="name">
                            {{ user.fname }} {{ user.lname }}
                        </td>
                        <td class="office">
                            {{ user.office.name}}
                        </td>
                        <td class="position">
                            {{ user.position.name}}
                        </td>
                        <td class="services">
                            {{ user.services.name}}
                        </td>
                    </tr>
                </paginate>
            </table>


            <paginate-links
                    for="users"
                    :limit="2"
                    :show-step-links="true"
                    :step-links="{
                next: 'Next',
                prev: 'Prev'
            }"
            >

            </paginate-links>


        </div>

    </div>
</section>

<script src="build/js/vendors.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuejs-paginator/2.0.0/vuejs-paginator.js"></script>
<script src="build/js/custom.min.js"></script>

</body>
</html>